<header>
	<h3>New comment</h3>
</header>

<%= simple_form_for [note, comment] do | f | %>
	<%= f.input :text %>
	<% if policy(note).change_state? %>
		<%= f.association :state %>
	<% end %>
	<%= f.submit class: "btn btn-primary" %>
<% end %>