<div class="page-header">
	<h1>X-Files</h1>
	<% admin_only do %>
		<ul class="actions">
			<li><%= link_to "New X-File", new_admin_xfile_path, class: "new" %></li>
		</ul>
	<% end %>
</div>


<div id="xfiles">
	<% @xfiles.each do | x | %>
		<h2><%= link_to x.name, x %></h2>
		<p><%= x.description %></p>
	<% end %>
</div>