<div class="page-header">
	<h1>X-Files</h1>
	<ul class="actions">
		<li><%= link_to "New X-File", new_xfile_path, class: "new" %></li>
	</ul>
</div>


<div id="xfiles">
	<% @xfiles.each do | x | %>
		<h2><%= link_to x.name, x %></h2>
		<p><%= x.description %></p>
	<% end %>
</div>